{% extends "login/index_base_wdesign.html" %}

{% block title %}Welcome! {% endblock %}
{% block loggedin %}
	
	{% block loginerror %}{% endblock %}
	

	<form action="/login/" method='post'>{% csrf_token %}
			<input type="text" name="username" class="usr_pw">
			<input type="password" name="passwd" class="usr_pw">
			<input type="submit" value="Login" class="functions" id="login">
	</form>
	<form action="/register/" method='post' id="regform">{% csrf_token%}
				<input type="submit" value="Register" class="functions" id="register">
	</form>


{% endblock %}

