{% load staticfiles %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" /> 
	<link rel="stylesheet" type="text/css" href="{% static "css/navbar.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/register.css" %}" />	
</head>
	<body>
		<div id="navbar">
		<div id="logoland">
			<div id="logoimg"></div>
			<div id="logotype"><a href="HOMELINKSJFKLSDJFSDLJFS"><strong>circuit</strong><notstrong>hub</notstrong></a></div>
		</div>
		<div id="buttonland">
			<button id="browse" class="functions btn-1c">browse</button>
			<button id="manual" class="functions btn-1c">manual input</button>
		</div>
	</div>
	{% block contents %}{% endblock %}

	
</body>
</html>