{% extends "login/navbar.html" %}

{% block title %}{% endblock %}


{% block contents %}
	
	
	
	<div id="box">
		
		<div id="registrationform">
			{% block failure %}{% endblock %}
			<form action="/register_submit/" method='post'>
				{% csrf_token %}
				Name: <input type="text" name="username"><br>
				Email: <input type="text" name="email"><br>
				Password: <input type="password" name="password"> <br>
				Confirm Password: <input type="password" name="passwordconfirm"><br><br>
				<input type="submit" value="Submit" class="functions yehey">
			</form>
		</div>
	</div>
	

{% endblock %}