html, body{
	font-family: 'Oxygen', sans-serif;
	background: #F7F7F7;
}


#box{

	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   display: -moz-box;      /* OLD: Firefox (buggy) */ 
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center; 
   -ms-flex-pack: center; 
   -webkit-justify-content: center;
   justify-content: center;

   margin: 0;
   height: 100%;
   width: 100% /* needed for Firefox */

	display: flex;
   justify-content: center;
   align-items: center;
}
#formz{
	position: relative;
	clear: left;
	text-align: center;
	padding-top: 100px;

}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	margin: 0 auto;

}

#imglogo{
	clear: right;
	width: 50%;
	margin: 0 auto;
}

strong{
	font-weight: 700;
}

notstrong{
	font-weight: 300;
}

#thename{
	display: block;
	clear: both;
	font-size: 4.5em;
	text-align: center;
	line-height: 30px;
}

.usr_pw{
	border: 0;
	font-family: 'Oxygen', sans-serif;
	font-size: 2em;
	background: #EBEBEB;
	padding: 5px;
	width: 100%;
	margin-top: 10px;
	border: 1px solid rgba(69,69,69,0.8);
}

.usr_pw:focus{
	background: white;
}

.button{
	height: 30px;
	background: pink;
	border: 0;
	padding: 0 10px 0px 10px;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 400;
	font-size: 20px;
}

.button:hover{
-webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

}

#register{
	font-size: 1em;
	background: #707070;
	color: white;
}

#register:hover{
	background: #1f1f1f;
}

.dragon{
	padding: 10px 0 0 0px;
	position: absolute;

}



#login{
	text-transform: uppercase;
	border: 3px solid #B31515;
	font-family: inherit;
	font-size: 20px;
	color: #B31515;
	background: none;
	cursor: pointer;
	padding: 5px 20px;
	display: inline-block;
	margin: 15px 10px;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#login:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#login:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #f7f7f7;
}

#login:hover,
#login:active {
	color: #f0f0f0;
	background: #B31515;
	border: 3px solid #B31515;
}

#login:hover:after,
#login:active:after {
	width: 100%;
}


.notif-error{
	background: #FF9999;
	border: 1px solid #B31515;
	padding: 5px;
	text-align: center;
	font-weight: 300;
}

.text-label {
	color: pink;
	font-weight: bold;
}

#placeholder{
	color: #777;
	font-weight: 300;
}

#placeholder2{
	color: #777;
	font-weight: 300;
}



.awesome{ 
	font-family:'FontAwesome';
}

.awesomeBtn{
	font-family:'FontAwesome';
}


.awesomeBtn:hover{
	cursor:pointer;
}

#randomstuff{
	width: 97%;
	min-height: 100px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 4em;
	letter-spacing: -0.01em;
	font-weight: 300;
	line-height: 1em;
	color: #333;
}

#manualinputland{
	width: 44%;
	min-height: 200px;
	float: left;
	padding: 10px 20px 10px 20px;
	background: rgba(200,200,200, 0.7);
	margin-right: 20px;
}

#uploadform{
	width: 44%;
	min-height: 200px;
	float: left;
	padding: 10px 20px 10px 20px;
	background: rgba(220,220,220, 0.7);
}

.giantletters{
	font-weight: 700;
	font-size: 2.5em;
	color: #444;
}

.moreinformation{
	font-size: 0.8em;
	text-align: justify;
}

#enterdream{
	border-color: #222;
	color: #222;
}

#enterdream:hover{
	border-color: #B81616;
	background: #B81616;
	color: #ccc;
}

.formofupload{
	font-family: 'Oxygen';
	font-size: 1em;
}