.listContainer{
	margin: 0 auto;
	width: 90%;
	min-height: 70%;
	padding: 130px 10px 10px 10px;
}

a.listlink{
	color: #0d0d0d;
}

.x{
	font-size: 25px;
	color: #333;
	border: 0;
	background: rgba(255,255,255,0);
	font-family: 'FontAwesome';
}

.x:hover{	
	background: #333;
	color: #e7e7e7;
	cursor: pointer;
}

.ultimateList{
	list-style: none;
	background: #f1f1f1;
	padding: 20px;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #C9c9c9;
	margin-bottom: 20px;
	float: left;
	width: 95%;
}

.ultimateList:hover{
	background: #e7e7e7;
}

a.listname{
	font-weight: 400;
	font-size: 40px;
	letter-spacing: -.05em;
	float: left;
}

a.listname:hover{
	color: #aaa;
}

.checklist{
	padding: 10px 0 10px 10px;
	border-top: 1px solid #c9c9c9;
	list-style: none;
	float: left;
	width: 99%;
}

.checklist:hover{
	background: #d7d7d7;
}

.checklist form	{
	margin: 0 auto;
}

.cktname{
	width: 95%;
	float: left;
	line-height: 30px;
}

.coolx{
	margin-left: 10px;
	font-size: 15px;
}

#checklistTemplate li{
	list-style: none;
}

#checklistTemplate{
	width: 50%;
	margin: 0 auto;
	font-size: 1.7em;
	text-align: right;
}

.deviceModel{
	font-weight: 700;
}

.listInput{
	font-size: 1em;
	text-align: right;
	width: 30%;
	font-family: inherit;
}

.deviceValue{
	font-weight: 300;
	font-style: italic;
}

.deviceHappiness{
	float: right;
}

.pera{
	float: right;
	clear: both;
	margin: 10px 0 10px 0;
}

.peratotal{
	margin: 10px 0 10px 0;
	font-weight: 700;
	border-top: 1px solid #696969;
	margin-bottom: 20px;
	float: right;
	padding: 20px 0 0 0;
	font-size: 28px;
	color: #3BA337;
}

.osambutton{
	font-weight: 700;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 15px;
}

.emptynotice{
	width: 50%;
	margin: 0 auto;
	min-height: 400px;
	margin-top: 30px;
	background: #f1f1f1;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #C9c9c9;
	text-align: center;
	line-height: 400px;
}

.nicetable tr{
	border-bottom: 1px solid #777;
	color: #333;
}

.device{
	width: 30%;
	color: #555;
}

.valueOfDevice{
	width: 10%;
}

.numberOfDevice{
	width: 30%;
}

.priceOfDevice{
	width: 30%;
}

.tableheader{
	font-weight: 700;
	font-size: 25px;
}

tr{
	text-align: center;
}

.updatechecklist{
	background: #F7F7F7;
	font-size: 50px;
	border: 0;
	color: #D44646;
	padding: 15px;
	font-family: 'FontAwesome';

	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    z-index: 4
}

.updatechecklist:hover{
	background: #F7F7F7;
	color: #C41616;

	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
