.listContainer{
	margin: 0 auto;
	width: 90%;
	min-height: 70%;
	padding: 130px 10px 10px 10px;
}

a.listlink{
	color: #0d0d0d;
}

.x{
	font-size: 25px;
	color: #333;
	border: 0;
	background: rgba(255,255,255,0);
	font-family: 'FontAwesome';
}

.x:hover{	
	background: #333;
	color: #e7e7e7;
	cursor: pointer;
}

.ultimateList{
	list-style: none;
	background: #f1f1f1;
	padding: 20px;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #C9c9c9;
	margin-bottom: 20px;
	float: left;
	width: 95%;
}

.ultimateList:hover{
	background: #e7e7e7;
}

a.listname{
	font-weight: 400;
	font-size: 40px;
	letter-spacing: -.05em;
	float: left;
}

a.listname:hover{
	color: #aaa;
}

.checklist{
	padding: 10px 0 10px 10px;
	border-top: 1px solid #c9c9c9;
	list-style: none;
	float: left;
	width: 99%;
}

.checklist:hover{
	background: #d7d7d7;
}

.checklist form	{
	margin: 0 auto;
}

.cktname{
	width: 95%;
	float: left;
	line-height: 30px;
}

.coolx{
	margin-left: 10px;
	font-size: 15px;
}

#checklistTemplate li{
	list-style: none;
}

#checklistTemplate{
	width: 50%;
	margin: 0 auto;
	font-size: 1.7em;
	text-align: right;
}

.deviceModel{
	font-weight: 700;
}

.listInput{
	font-size: 1em;
	text-align: right;
	width: 50%;
	font-family: inherit;
}

.deviceValue{
	font-weight: 300;
	font-style: italic;
}

.deviceHappiness{
	float: left;
}

.pera{
	float: right;
	clear: both;
	margin: 10px 0 10px 0;
}

.peratotal{
	margin: 10px 0 10px 0;
	font-weight: 700;
	border-top: 1px solid #696969;
	margin-bottom: 20px;
	float: right;
	padding: 20px 0 0 0;
	font-size: 28px;
	color: #3BA337;
}

.osambutton{
	font-weight: 700;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 15px;
}

.emptynotice{
	width: 50%;
	margin: 0 auto;
	min-height: 400px;
	margin-top: 30px;
	background: #f1f1f1;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #C9c9c9;
	text-align: center;
	line-height: 400px;
}

.nicetable tr{
	border-bottom: 1px solid #777;
	color: #333;
}

.device{
	width: 30%;
	color: #555;
}

.valueOfDevice{
	width: 10%;
}

.numberOfDevice{
	width: 30%;
	text-align: left;
}

.numberOfDevice .listInput{
	width: 70%;
	margin-left: 10px;

}

.priceOfDevice{
	width: 30%;
}

.tableheader{
	font-weight: 700;
	font-size: 25px;
}

tr{
	text-align: center;
}

.updatechecklist{
	background: rgba(255,255,255,0);
	font-size: 50px;
	border: 0;
	color: #D44646;
	padding: 15px;
	font-family: 'FontAwesome';

	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    z-index: 4
}

.updatechecklist:hover{
	background: rgba(255,255,255,0);
	color: #C41616;

	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

#updatebox{
	float: right;
}

#printbox{
	float: left;
}

#printbutton{
	font-family: 'FontAwesome';

		background: #F7F7F7;
	font-size: 30px;
	border: 0;
	color: #777;
	padding: 15px 15px 15px 22px;

	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    z-index: 4
}

#printbutton:hover{
	color: #111;

	-webkit-transition: color 200ms ease-out 200ms;
    -moz-transition: color 200ms ease-out 200ms;
    -o-transition: color 200ms ease-out 200ms;
    transition: color 200ms ease-out 200ms;
}

.maxbutton{
	font-family: 'FontAwesome';
	font-size: 1.3em;
	border: 0;
	padding: 5px;
	color: #F7F7F7;
	background: #74C289;
	float: left;
	margin-left: 20px;


	box-shadow: 
  0 1px 2px #fff, /*bottom external highlight*/
  0 -1px 1px #666, /*top external shadow*/ 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/;
}

.maxbutton:hover{
	cursor: pointer;
}

.maxbox div
{
	clear: both;
	z-index: 5;
}

.maxbox{
	z-index: 0;
	width: 0;
}



input.switch:empty
{
	display: none;
}



input.switch:empty ~ label
{

	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #393;
}

input.switch:checked ~ label:after
{
	margin-left: 2.1em;
}

label{}