{% extends "login/navbar.html" %}

{% block title %}{% endblock %}


{% block contents %}

	<div id="checklistTemplate" class="listContainer">
		{% if contents %}
		<form action='update/' method='post'>{% csrf_token %}
			<ul>
			{% for item in contents %}
				<li><span style="float:left;"><span class="deviceModel">{{ item.device_model }}</span> : <span class="deviceValue">{{ item.main_value }}</span></span><span class="deviceHappiness"><input type='text' value='{{ item.bought_count }}' name='{{ item.pk }}' class="listInput">&nbsp;/&nbsp;{{ item.device_count }} </span>
				<br><span class="pera">Php <input type='text' value='{{ item.price }}' name='{{ item.pk }}_price' class="listInput"></span>
			</li>
			{% endfor %}
			</ul><br><br><span class='peratotal'>
			{% if cost %}
			P{{ cost }} total
			{% endif %}</span><br><br>
			<input type="submit" value="Update Checklist" class="osambutton">
		</form>
		{% endif %}
	</div>

</body>
</html>

{% endblock %}
