{% extends "login/navbar.html" %}

{% block title %}{% endblock %}


{% block contents %}

<div id="listTemplate">
	{% if listlist %}
		<ul>
		{% for rawlist in listlist %}
		<div  class="ultimateList">
			<li>
				<a href = {% url 'circuits.views.listRawContents' rawlist.owner rawlist.name %} class="listlink listname">{{ rawlist.name }}</a>&nbsp;<a title="Delete" href = {% url 'circuits.views.deleteRawList' rawlist.owner rawlist.name %} class="x">x</a>
				<form action='{{ rawlist.name }}/checkout/' method = 'post'>{% csrf_token %}
					<input type='text' name='circuit_name'>
					<input type='submit' value='Create Checklist'>
				</form>
				</li>
			{% if rawlist.circuitlist_set.all %}
			<ul>
				{% for circuitlist in rawlist.circuitlist_set.all %}
				<a href = {% url 'circuits.views.listCircuitContents' circuitlist.owner rawlist.name circuitlist.name %} class="listlink">
					<li class="checklist" >
					{{ circuitlist.name }} &nbsp;
					</li>
				</a>
					<a href = {% url 'circuits.views.deleteCheckList' circuitlist.owner rawlist.name circuitlist.name %} class="x"  title="Delete">x</a>
				{% endfor %}
			</ul>
		</div>
			{% endif %}
		{% endfor %}
		</ul>
	{% endif %}
</div>
</body>
</html>

{% endblock %}
