{% extends "login/navbar.html" %}

{% block title %}{% endblock %}


{% block contents %}

<div id="listTemplate" class="listContainer">
	{% if listlist %}
		<ul>
		{% for rawlist in listlist %}
		<div  class="ultimateList">
			<li>
				<a href = {% url 'circuits.views.listRawContents' rawlist.owner rawlist.name %} class="listlink listname">{{ rawlist.name }}</a>&nbsp;&nbsp;
				<!----<a title="Delete" href = {% url 'circuits.views.deleteRawList' rawlist.owner rawlist.name %} class="x">x</a>------>
				<form action='{% url 'circuits.views.deleteRawList' rawlist.owner rawlist.name %}'>
					<input type='submit' value=&#61460; class="x coolx" >
				</form>

				<form action='{{ rawlist.name }}/checkout/' method = 'post'>{% csrf_token %}
					<input type='text' name='circuit_name'>
					<input type='submit' value='Create Checklist'>
				</form>
				</li>
			{% if rawlist.circuitlist_set.all %}
			<ul>
				{% for circuitlist in rawlist.circuitlist_set.all %}
				<a href = {% url 'circuits.views.listCircuitContents' circuitlist.owner rawlist.name circuitlist.name %} class="listlink">
					<li class="checklist" >
						<span class="cktname">{{ circuitlist.name }}</span>
					<form action='{% url 'circuits.views.deleteCheckList' circuitlist.owner rawlist.name circuitlist.name %}'>
						<input type='submit' value=&#xf014; class="x" >
					</form>
					</li>
					<!-----<a href = {% url 'circuits.views.deleteCheckList' circuitlist.owner rawlist.name circuitlist.name %} class="x"  title="Delete">x</a>---->
				{% endfor %}
				</a>
			</ul>
		</div>
			{% endif %}
		{% endfor %}
		</ul>
	{% else %}
		<div class="emptynotice" style="line-height:  400px;">
			<span style="clear: left; line-height: 150px;">&nbsp;</span>
			<div class="thenotice" style="clear: left; line-height: 30px;">
			<h1>Walang laman. :(</h1><span style="clear: left; line-height: 20px;">Mag-upload ka. Pindutin mo yung input sa taas.</span>
			</div>
		</div>
	{% endif %}

</div>
</body>
</html>

{% endblock %}
